body {
    margin: 0;
    font-family: sans-serif;
}

#rct_root {

}

/* header */
#header, #header a {
    background: #4141ff;
    color:white;
    padding: 5px 10px;
}

#logo {
    font-size: larger;
    float:left;
}
#links {
    float:right;
}

.clear {
    clear:both;
}

/* content */
#content {
    margin: 0 10px;
}

#survey {
    background-color: lightGrey;
    margin: 0 auto;
    width: 90%;
    border-radius: 3px;
    padding: 10px;
}

#survey h1 {
    margin: 0;
}

#responses {
    list-style: none;
}
#responses li {
    cursor: pointer;
    display: inline-block;
    background-color: #cca61c;
    margin: 20px;
    padding: 10px;
    color:white;
}
#responses li:hover {
    background-color: #8c7319;
}
#responses li:active {
    background-color: #675513;
}

#progress .box {
    display:inline-block;
    transition: 1s all;
    width: 20px;
    height: 20px;
    background-color: #7d7d7d;
    margin-right: 10px;
    border: 1px solid black;
    cursor: pointer;
}

#progress .box.responded {
    background-color:#00f700;
}
